.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: white;
}
.title {
  font-size: 1.5em;
  margin-bottom: 20px;
  font-weight: 600;
}

.container {
  display: flex;
  flex-direction: row;
  gap: 20px;
  max-width: 1200px;
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}

.category {
  color: black;
  display: flex;
  font-size: 1em;
  border-radius: 32px;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #efefef;
  cursor: pointer;
  max-width: 600px;
  width: 120px;
  height: 120px;
  padding: 20px;
  transition: background-color 0.3s ease;
  font-weight: 500;
}

.category:hover {
  background-color: #e3e3eb;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: white;
}

.container {
 
  position: fixed;
  padding-top: 40px;
  bottom: 20px; /* Distance from the bottom */
  right: 20px;  /* Distance from the right */
  width: 400px; /* Set the width of the chatbot box */
  height: 600px; /* Set the height of the chatbot box */
  background-color: white; /* Background color */
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1); /* Add shadow for better visibility */
  border-radius: 10px; /* Optional: rounded corners */
  z-index: 1000; /* Ensure it's on top of other content */
}

.chatHeader {
  display: flex;
  justify-content: space-between; /* Space between the button and title */
  align-items: center; /* Center items vertically */
  padding: 10px; /* Padding for the header */
  background-color: #007bff; /* Blue background */
  color: white; /* White text */
  position:absolute;
  width: 100%;
  height: 50px;
  border-top-left-radius: 10px; /* Top left corner rounded */
  border-top-right-radius: 10px; /* Top right corner rounded */
  top:0;
}

.headerTitle {
  font-size: 18px; /* Title font size */
  font-weight: bold; /* Bold title */

}

.closeButton {
  background: none; /* No background */
  color: white; /* White text */
  border: none; /* No border */
  font-size: 16px; /* Font size for button */
  cursor: pointer; /* Pointer cursor */
  transition: color 0.3s; /* Smooth transition */
}

.closeButton:hover {
  color: #ffcc00; /* Change color on hover */
}

.chatButton {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #007bff; /* Blue background */
  color: white; /* White text */
  border: none;
  border-radius: 50%; /* Round button */
  width: 50px;
  height: 50px;
  font-size: 16px;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Optional shadow */
}

.chatButton:hover {
  background-color: #0056b3; /* Darker blue on hover */
}